.group {
    display: flex;
    padding: 0.2rem;
}

.group div:nth-child(1) {
    width: 16rem;
}
.group div:nth-child(2) {
    width: 16rem;
}
.group div.mas-ancho {
    width: 24rem;
}
.group div:nth-child(3) {
    flex-grow: 1;
    text-align: left;
    margin-left: 1rem;
    color: red;
}

input[type=text],
select {
    width: 16rem;
}

.bottom {
    margin-top: 2rem;
}
.mensaje {
    color: green;
}
.mensaje.error {
    color: red;
}